<html>
<display hspace=0 vspace=0>
<body bgcolor=191919>
<center>
	<table cellspacing=0 cellpadding=0 abswidth=135 absheight=200 align=center>
		<tr>
			<td align=left width=3><img src="file://ROM/Cache/Shadow.gif" width=3 height=209>
			<td align=center valign=top>
				<table cellspacing=0 cellpadding=0 width=129>
					<tr>
						<td width=129 height=20>
					<tr>
						<td align=center>
						<img src="images/remo_con.gif" width=106 height=81>
					<tr>
						<td height=10>
					<tr>
						<td align=center>
						
						<font color="green" size=-1><b>リモコンの矢印で選び、決定ボタンを押して下さい</b></font>
				</table>
	</table>
</center>
</body>
</html>
